Flask==2.3.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.4.4
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.4
marshmallow==3.21.0
marshmallow-sqlalchemy==0.29.0
python-dotenv==1.0.0
alembic==1.11.3
gunicorn==26.0.0
Faker==23.3.0
